@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    left: 574px;
    top: 489px;
    width: 300px;
}

video#filme {
    display: block;
    position: relative;
    left: 60px;
    top: -50px;
    width: 486px;
    height: 410px;
}